.pageNumbers{
    list-style: none;
    display: flex;
  }
  
  .pageNumbers li{
    padding: 10px;
    border: 1px solid blueviolet;
    cursor: pointer;
  }

  .pageNumbers li.active{
      background-color: blueviolet;
      color: black;
  }

  .pageNumbers li button{
      background-color: transparent;
      border: none;
      color: blueviolet;
      font-size: 1.5rem;
      cursor: pointer;
  }

  .pageNumbers li button:hover{
      background-color: blueviolet;
      color: black;
  }

  .pageNumbers li button:focus{
      outline: none;
  }